<app-steps [index]="0"></app-steps>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']">
          <input formControlName="phoneNumber" id="'phoneNumber'" placeholder="请输入手机号" nz-input>
          <nz-form-explain *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">Please input your phone number!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input nz-input formControlName="captcha" id="captcha" placeholder="请输入验证码">
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button (click)="changeVerify()">{{authCode.authCode}}</button>
            </div>
          </div>
          <nz-form-explain *ngIf="validateForm.get('captcha').dirty && validateForm.get('captcha').errors">Please input the captcha you got!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14">
          <button nz-button nzType="primary" (click)="goToStep2()">下一步</button>
        </nz-form-control>
      </nz-form-item>
    </form>
