<app-steps [index]="1"></app-steps>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input nz-input formControlName="captcha" id="captcha">
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button (click)="getCaptcha($event)">获取验证码</button>
            </div>
          </div>
          <nz-form-explain *ngIf="validateForm.get('captcha').dirty && validateForm.get('captcha').errors">Please input the captcha you got!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div nz-row [nzGutter]="8">
            <div nz-col [nzSpan]="12">
              <input nz-input formControlName="captcha2" id="captcha2" placeholder="请输入验证码">
            </div>
            <div nz-col [nzSpan]="12">
              <button nz-button (click)="changeVerify()">{{authCode.authCode}}</button>
            </div>
          </div>
          <nz-form-explain *ngIf="validateForm.get('captcha2').dirty && validateForm.get('captcha2').errors">Please input the captcha2 you got!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14">
          <button nz-button nzType="primary" (click)="goToStep3()">下一步</button>
        </nz-form-control>
      </nz-form-item>
    </form>
